
form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
     justify-content: center;
    width: 50%;
    font-size: 18px;
    padding: 0 2.5rem;
    margin: 0 auto;
}
input{
    width: 100%;
    height: 40px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220,220,220);
    &:focus{
        border: 2px solid rgba(0,206,158,1);
    }
}
textarea{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(220,220,220);
    font-family: inherit;

    &:focus{
         border: 2px solid rgba(0,206,158,1);
         
    }
}
label{
    margin-top: .5rem;
}
input,textarea{
 margin-top: 1rem;
 cursor: pointer;
 background: rgb(230, 229, 229);
 color: rgb(9, 1, 1);
 border: none;
}
.bttn{
    color: white;
  width: 160px!important;
  height: 45px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background:rgb(11, 105, 107); 
  border: 2px solid grey;
  transition: all 0.3s ease;
margin: auto ;
margin-top: 15px;

}
.bttn:hover{
    color: white;
    background:rgb(180, 114, 114); 
}